@import "solitude.css";

* {
 font-family: Ubuntu Mono Nerd Font;
 font-size: 17px;
 min-height: 7px;
}

#waybar {
 background: rgba(87, 158, 182, 0.2);
 color: @two;
 margin: 5px 5px;
}

#workspaces button {
 color: @two;
 border-radius: 1rem;
 padding: 0.4rem;
}

#workspaces button.active {
 color: @two;
 border-radius: 1rem;
}

#workspaces button:hover {
 color: @five;
 border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#custom-power,
#custom-vpn {
 background-color: @five;
 padding: 0.5rem 1rem;
 margin: 5px 0;
}

#clock {
 color: @two;
 border-radius: 0px 1rem 1rem 0px;
}

#battery {
 color: @two;
}

#battery.charging {
 color: @two;
}

#battery.warning:not(.charging) {
 color: @five;
}

#backlight {
 color: @three;
}

#backlight, #battery {
   border-radius: 0;
}

#pulseaudio {
 color: @two;
 border-radius: 1rem 0px 0px 1rem;
}

#custom-music {
 color: @two;
 border-radius: 1rem;
}

#custom-power {
   color: @two;
   border-radius: 1rem 0px 0px 1rem;
}

#tray {
 border-radius: 0px 0px 0px 0px;
}


#network {
 border-radius: 0px 0px 0px 0px;
}


#bluetooth {
 border-radius: 0px;
}

#custom-vpn{
 border-radius: 0px 1rem 1rem 0px;
}
